
body {
  background-color: rgb(0, 0, 0);
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button  {
  color:black
}
